docx==0.2.4
google_trans_new==1.1.9
googletrans==4.0.0rc1
matplotlib
nltk==3.8.1
numpy==1.23.5
openai==0.26.5
openai_whisper==20230124
pandas==1.5.1
Pillow==9.4.0
python_docx==0.8.11
pyttsx3==2.91
SpeechRecognition==3.9.0
streamlit==1.18.1
whisper==1.1.10

